<%= render 'layouts/errors', :object => @request %>

<%= form_for [@business, @request] do |f| %>
  <%= f.label :Notes %>
  <%= f.text_field :interval, placeholder: 'Notes' %>
  <%= f.label :date %>
  <%= f.datetime_select :date %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
