<%= render 'layouts/errors', :object => @request %>

<% form_for [@business, @request] do |f| %>
  <%= f.label :interval %>
  <%= f.text_field :interval %>
  <%= f.label :date %>
  <%= f.datetime_select :date %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
